doctype
head
  title= page
  meta(charset='utf-8')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
body
  .container
    h1= page
    p= content
  script(src='https://code.jquery.com/jquery-1.11.3.js')